<h2>About Us</h2>

<p>
    TTF was formed in the same year that the colony of South Australia enacted legislation giving women the vote in 1894. We started off from humble beginnings making the push on style of cloths pegs. We did this successfully for many decades with our products finding penetration into overseas markets. These humble beginnings soon lifted us to great heights.
</p>

<div></div>

<p>
    We have certainly had our challenges over the years. The manual clothes dryer that was invented in the early 1800s consisting of a ventilated barrel that was to be hand turned did not rise to the level of popularity that was expected. This encouraged us that there was still a buoyant market for the clothes peg. Here in Australia we did not have any immediate exposure to the patent that George T. Simpson had registered on June 7th 1892 for a new design of a clothes dryer that used the excess heat produced by a stove to dry clothes in a ventilation type unit. Perhaps if we did, we may have never started this great company. When in around 1915 electric clothes dryers started to appear in various countries we were not too perturbed. They were simply too expensive for the average householder to afford compared to our thriftily priced pegs.
    We have never seen ourselves as a leader in design or technology. We are a stable company that sticks with what works. The first hinged peg was patented in 1832 and used a wooden screw as a pivot point. As you can see by today’s design this did not last long. The hinged peg was patented by David M. Smith in 1853 using a lever action with a metal spring. We decided to change to this type of design some 100 years after the original patent being granted as we did not want to jump into something that may not work. We also were mindful of the availability of steel. In around 1955 we lodged our own patent for a peg along with around 149 other patents for pegs in the mid-1900s. This is the peg we make today and it has been very successful for us.
</p>

<p>
    We did not change to plastic as a base material for our pegs and we believe that decision is about to pay off for us. We use renewable resources to manufacture our product consisting of plantation tree wood and recycled steel
</p>

<div class="contact-image">
    <img src="~/Content/Images/clothes-pin-brazil-1414594-638x332.jpg" />
</div>